<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innovach.echeckin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ECheckin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Check-in List"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NoActionBarTheme">
        </activity>
        <activity android:name=".qr.ReaderActivity" />
        <activity android:name=".qr.GeneratorActivity" />
        <activity android:name="com.innovach.MC2Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.innovach.echeckin.MainActivity" />
        </activity>
        <!-- <activity android:name=".MC3Activity"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="com.innovach.echeckin.moringa.MoringaMainActivity" /> -->
        <!-- </activity> -->
        <activity android:name=".moringa.moringagroups.oMPFTActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.innovach.echeckin.moringa.MoringaMainActivity" />
        </activity>
        <activity android:name=".moringa.moringagroups.oMPPTActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.innovach.echeckin.moringa.MoringaMainActivity" />
        </activity>
        <activity android:name=".moringa.AdminMainActivity" />
        <!--<activity android:name="com.innovach.MC2Activity" />-->
        <activity android:name="com.innovach.MC3Activity" />
        <activity android:name="com.innovach.MPFTActivity" />
        <activity android:name="com.innovach.MPPTActivity" />
        <activity android:name=".ui.CreateAccountActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>